<div class="my_page-container">
  <div class="my_page-content-entry">
    <h1>〜<%= @user.nickname %>さんのページ〜</h1>
  </div>
  <div class="my_page-info">
    <div class="my_page-icon">
      <%if @user.avatar.attached?%>
        <%=link_to (image_tag @user.avatar, class: "my_page-img"), "#"%>
       <%else%>
        <%=link_to (image_tag 'default-icon.png' , class: "my_page-img"), "#"%>
      <%end%>
    </div>
    <div class="my_page-detail">
      <div class="my_page-company">
        <p>所属先</p>
        <%= @user.company_name %>
      </div>
      <div class="my_page-profession">
        <p>職種</p>
        <%= @user.profession.name %>
      </div>
    </div>
    <div class="my_page-Introduction">
      自己紹介
    </div>
  </div>
  <div class="tab-area">
    <div class="tab active">
      <p>投稿一覧</p>
    </div>
    <div class="tab">
      <p>いいねした投稿</p>
    </div>
  </div>
  <div class="content-area">
      <% @reviews.each do |review| %>
    <div class="content show">
        <%=link_to("/reviews/#{review.id}") do%>
          <div class="my_page_review">
            <div class="my_page-faclity_name">
              <h3>施設名：<%= review.faclity_name %></h3>
            </div>
            <div class="my_page-img">
              <%= image_tag review.images[0], class: "my_page-review"%>
            </div>
          </div>
        <% end %>
        <div class="my_page_review-info">
          <div id="like-btn-<%=review.id %>" class="like-info">
            <%= render "likes/like", review: review%>
          </div>
          <div class="review-comment">
            <i class="far fa-comment-dots"></i>
            <%= review.comments.count%>
          </div>
          <div class="post-time">
            <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(review.created_at) %>前に投稿
          </div>
        </div>
    </div>
      <% end %>
      <% @likes.each do |like| %>
        <div class="content">
          <%=link_to("/reviews/#{like.review.id}") do%>
            <div class="my_page_review">
             <div class="my_page-faclity_name">
               <h3>施設名：<%= like.review.faclity_name %></h3>
             </div>
              <div class="my_page-img">
               <%= image_tag like.review.images[0], class: "my_page-review"%>
             </div>
           </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

 