<%# CSS・・・assets/stylesheets/shared/header.css %>
      <div class="mobile-menu__cover"></div>  <%# 画面が横にずれた時影で黒くする %>
      <header class="header">
        <div class="header__inner">
          <div class="logo">
            <%= link_to image_tag("logo.png", class: "logo__img"), "/" %> 
          </div>
          <nav class="header__nav">
            <ul class="header__ul">
              <% if user_signed_in? %>
                <li class="header__li"><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
                <li class="header__li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
                <li class="header__li"><%= link_to('投稿', new_review_path, class: 'post-btn') %></li>
               <% else %>
                <li class="header__li"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                <li class="header__li"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <li class="header__li"><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post%></li>
              <% end %>
            </ul>
          </nav>
          <button class="mobile-menu__btn">  <%# ハンバーガーメニューボタン %>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </header>
