<div class="main">
  <div class="slider-box">
    <div class="introduction">
      <img class="introduction-img" src="assets/photo1.jpg">
      <div class="box-string1">
        <p>教育旅行に特化したサイトです。<br>
           他学校はどのような地域で行事をしているのだろう。<br>
           どんな学習をしているのだろう<br>
           そんな思いをこの<span>GAKUTABI</span>で解決できます。<br>
           それぞれの視点から感じたものを投稿し、より良い学校行事を生徒達に届けましょう。<br>
        </p>
      </div>
        <h1>一生の思い出を。忘れられない旅を。<h1>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/photo2.jpg">
      <div class="box-string2">
        <p>教員の皆様へ<br>
          時間がかかってしまう候補地探しをこのサイトで完結することができます。<br>
          先生しか分からない事などお互いに投稿し、<br>
          より学習効果のある地域や施設を見つけて<br>
          楽しい行事を成功させましょう。<br>
        </p>
      </div>
      <h1>もっと楽に。もっと手軽に。<h1>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/photo3.jpg">
      <div class="box-string3">
        <p>旅行会社の皆様へ<br>
           旅行のプロとして。案内人のプロとして。<br>
           プロからの目線で見た観光地を伝えてみませんか。<br>
           また先生の投稿を見る事でより良い企画に繋がるかもしれません。<br>
        </p>
      </div>
      <h1>プロとしてのこだわりと挑戦。<h1>
    </div>
    <div class="introduction">
      <img class="introduction-img" src="assets/pthoto4.jpg">
      <div class="box-string4">
        <p>観光地施設の皆様へ<br>
           施設の良さを伝える場所となります<br>
           様々な投稿で見たものを自分の施設に活かして学習効果を高める場所になること間違いなしです。<br>
        </p>
      </div>
      <h1>おもてなし文化を次の世代へ・・・<h1>
    </div>
  </div>

  
  <div class="review-contents">
    <% @reviews.each do |review| %>
      <div class="review-box">
        <div class="review-upper-row">
          <div class="review_user__img">
            <%if review.user.avatar.attached?%>
              <%=link_to (image_tag review.user.avatar, class: "user-img"), "#"%>
            <%else%>
              <%=link_to (image_tag 'default-icon.png' , class: "user-img"), "#"%>
            <%end%>
          </div>

          <div class="review-nickname">
            <%= link_to review.user.nickname, user_path(review.user.id), class: "nickname" %>
          </div>

          <div class="review-profession">
            <p>職業：<%= review.user.profession.name %></p>
          </div>

          <%if user_signed_in? && current_user.id==review.user.id%>
            <div class="review-gear">
              <%= link_to(edit_review_path(review.id)) do %>
                <i class="fas fa-cog" id="lists"></i>
              <%end%>
              <%= link_to(review_path(review.id), method: :delete, data: { confirm: '本当に削除しますか'} ) do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
         
        <div class="review-title">
          <div class="review-faclity_name">
            <p>施設名：<%= review.faclity_name %><p>
          </div>
        </div>
        <div class="tag_name">
          タグ:
        </div>
        <%=link_to(review_path(review)) do%>
          <div class="review-image">
            <%= image_tag review.images[0], class: "review-img"%>
          </div>
        <% end %>
        <div class="review-lower">
          <div class="review-info">
            <div id="like-btn-<%=review.id %>" class="like-info">
             <%= render "likes/like", review: review%>
            </div>
            <div class="review-comment">
              <i class="far fa-comment-dots"></i>
              <%= review.comments.count%>
            </div>
            <div class="post-time">
              <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(review.created_at) %>前に投稿
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="pagenation-box">
  <%= paginate @reviews %>
</div>