<div class="main">
  <div class="a">
    <div class="b">
      <img class="c" src="assets/photo1.jpg">
      <p>GAKUTABI</p>
    </div>
    <div class="b"><img class="c" src="assets/photo2.jpg"></div>
    <div class="b"><img class="c" src="assets/photo3.jpg"></div>
    <div class="b"><img class="c" src="assets/photo4.jpg"></div>
  </div>

  <div class="review-contents">
    <% @reviews.each do |review| %>

      <div class="review_user__img">
        <%if review.user.avatar.attached?%>
          <%=link_to (image_tag review.user.avatar, class: "user-img"), "#"%>
        <%else%>
          <%=link_to (image_tag 'default-icon.png' , class: "user-img"), "#"%>
        <%end%>
      </div>

      <div class="review-user">
        <%= review.user.nickname %>
      </div>

      <div class="review-profession">
        <%= review.user.profession.name %>
      </div>

      <div class="review-grade">
        <%= review.grade.name %>
      
      </div>
      <div class="review-gear">
        <i class="fas fa-cog" id="lists"></i>
      </div>

      <div class="review-faclity_name">
        <%= review.faclity_name %>
      </div>

      <div class="review-imgs">
        
      </div>
    <% end %>
  </div>
</div>