<div class="main">
  <%= render 'shared/topimg'%> <%# スライダートップ画像 %>
  <div class="search-box">
    <%= search_form_for @q, url: search_reviews_path do |f| %>
    <div class="search-keyword">
      <%= f.search_field :faclity_name_cont, class:"form-control", placeholder: "施設を探す" %>
    </div>
      <div class="search-upper">
        <div class="search-form">
          <label>行事</label>
          <%= f.collection_select :event_id_eq, Event.where.not(id: 0), :id, :name, include_blank: "--",  class:"search-select-box" %>
        </div>
        <div class="search-form">
          <label>宿泊タイプ</label>
          <%= f.collection_select :hotel_type_id_eq, HotelType.where.not(id: 0), :id, :name, include_blank: "--", class:"search-select-box" %>
        </div>
        <div class="search-form">
          <label>学年</label>
          <%= f.collection_select :grade_id_eq, Grade.where.not(id: 0), :id, :name, include_blank: "--", class:"search-select-box" %>
        </div>
      </div>
      <div class="search-row">
        <div class="search-form">
          <label>季節</label>
          <%= f.collection_select :season_id_eq, Season.where.not(id: 0), :id, :name, include_blank: "--",  class:"search-select-box" %>
        </div>
        <div class="search-form">
          <label>都道府県</label>
          <%= f.collection_select :region_id_eq, Region.where.not(id: 0), :id, :name, include_blank: "--",  class:"search-select-box" %>
        </div>
        <div class="search-form">
          <label>生徒人数</label>
          <%= f.collection_select :student_count_id_eq, StudentCount.where.not(id: 0), :id, :name, include_blank: "--",  class:"search-select-box" %>
        </div>
      </div>
      <div class="search-submit">
        <%= f.submit "検索", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  
  <div class="review-contents">
    <% @reviews.each do |review| %>
      <div class="review-box">
        <div class="review-upper-row">
          <div class="review_user-main">
            <div class="review_user-img">
              <%if review.user.avatar.attached?%>
                <%=link_to (image_tag review.user.avatar, class: "user-img"), "#"%>
              <%else%>
                <%=link_to (image_tag 'default-icon.png' , class: "user-img"), "#"%>
              <%end%>
            </div>
            <div class="review_user-nickname">
              <p><%= link_to review.user.nickname, user_path(review.user.id), class: "nickname" %>さんの投稿</p>
            </div>
            <div class="review_user-profession">
              <p>職業：<%= review.user.profession.name %></p>
            </div>
            <%if user_signed_in? && current_user.id==review.user.id%>
              <div class="review_user-gear">
                <div class="review_user-edit">
                  <%= link_to(review_path(review.id), method: :delete, data: { confirm: '本当に削除しますか'} ) do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
                <div class="review_user-delete">
                  <%= link_to(edit_review_path(review.id)) do %>
                    <i class="fas fa-cog" id="lists"></i>
                  <%end%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
         
        <div class="review-title">
          <div class="review-faclity_name">
            <p>施設名：<%= review.faclity_name %><p>
          </div>
        </div>
        <%=link_to(review_path(review)) do%>
          <div class="review-image">
            <%= image_tag review.images[0], class: "review-img"%>
          </div>
        <% end %>
        <div class="review-lower">
          <div class="review-info">
            <div id="like-btn-<%=review.id %>" class="like-info">
             <%= render "likes/like", review: review%>
            </div>
            <div class="review-comment">
              <i class="far fa-comment-dots"></i>
              <%= review.comments.count%>
            </div>
            <div class="post-time">
              <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(review.created_at) %>前に投稿
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="pagenation-box">
  <%= paginate @reviews %>
</div>