<div class="review-contents">
  <div class="review-box">
    <div class="review-upper-row">
      <div class="review_user__img">
        <%if @review.user.avatar.attached?%>
          <%=link_to (image_tag @review.user.avatar, class: "user-img"), "#"%>
         <%else%>
          <%=link_to (image_tag 'default-icon.png' , class: "user-img"), "#"%>
        <%end%>
      </div>
      
       <div class="review-nickname">
            <p><%= link_to @review.user.nickname, user_path(@review.user.id), class: "nickname" %>さんの投稿</p>
          </div>
          <div class="review-profession">
            <p>職業：<%= @review.user.profession.name %></p>
          </div>
    </div>

    <div class="review-title">
      <div class="review-faclity_name">
        <p>施設名：<%= @review.faclity_name %><p>
      </div>
    </div>

    <div class="slider-box">
      <% @review.images.each do |image| %>
        <%=image_tag image ,class: "slider-img"%>
      <%end%>
    </div>

    <div class="review-lower">
      <div class="review-info">
        <div id="like-btn-<%=@review.id %>" class="like-info">
          <%= render "likes/like", review: @review%>
        </div>
        <div class="review-comment">
          <i class="far fa-comment-dots"></i>
            <%= @review.comments.count%>
        </div>
        <div class="post-time">
          <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(@review.created_at) %>前に投稿
        </div>
      </div>
    </div>

    <%if user_signed_in? && current_user.id==@review.user.id%>
      <div class="event_button">
        <%= link_to "編集する", edit_review_path(@review), class: "btn btn-success"%>
        <%= link_to "削除する", review_path(@review), method: :delete, class: "btn btn-danger",data: { confirm: '本当に削除しますか?' } %>
      </div>
    <% end %>

    <div class="review-impression-box">
      <div class="review-impression">
        <div class="impression-title">
          <h3>感想</h3>
        </div>
        <div class="inpression-comment">
          <%= @review.text%>
        </div>
      </div>
      <div class="review-corona">
        <div class="corona-title">
          <h3>コロナウイルス対策</h3>
        </div>
        <div class="corona-comment">
          <%= @review.safety%>
        </div>
      </div>
    </div>
    <div class="review-detail-box">
      <div class="detail-title">
        <h3>詳細</h3>
      </div>
      <div class="review-detail">
        <div class="review-detail-upper">
          <div class="event-info">
            <p>行事</p>
            <%= @review.event.name%>
          </div>
          <div class="hotel_type-info">
            <p>ホテルタイプ</p>
            <% if @review.hotel_type_id == 2 %>
              -
            <%else%>
              <%= @review.hotel_type.name %>
            <% end %>
          </div>
          <div class="grade-info">
            <p>学年</p>
            <%= @review.grade.name%>
          </div>
        </div>
        <div class="review-detail-row">
          <div class="season-info">
            <p>利用した時期</p>
            <%= @review.season.name%>
          </div>
          <div class="region-info">
            <p>施設所在地</p>
            <%= @review.region.name%>
          </div>
          <div class="student_count-info">
            <p>参加生徒</p>
            <%=@review.student_count.name%>
          </div>
          <div class="price-info">
            <p>料金</p>
            <%= @review.price%>円
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-box">
    <div class="comment-title">
      <h3>コメント</h3>
    </div>
    <div class="comment-form">
       <% if user_signed_in? %>
        <%= form_with(model: [@review, @comment], local: true) do |f| %>
          <%= f.text_area :content, class: "form-control", row: "3" %>
          <div class= "comment-btn">
            <%= f.submit "コメントする", class: "btn btn-outline-info" %>
          </div>
        <% end %>
       <% else %>
        <strong ><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
    <div class="comment-list">
      <% @comments.each do |comment| %>
        <div class="comment-area">
          <div class="comment-user">
            <%if comment.user.avatar.attached?%>
              <%=link_to (image_tag comment.user.avatar, class: "user-img"), "#"%> 
             <%else%>
              <%=link_to (image_tag 'default-icon.png' , class: "user-img"), "#"%>
            <%end%>
            <div class="comment-nickname">
              <%= comment.user.nickname %>
            </div>
            <div class="comment-profession">
              職業：<%= comment.user.profession.name %>
            </div>
          </div>
          <div class="comment-content">
            <%= comment.content %>
          </div>
          <%if current_user==comment.user%>
            <div class="comment-trash">
              <%= link_to(review_comment_path(@review, comment), method: :delete, data: { confirm: 'コメントを削除しますか'}) do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          <%end%>
          <div class="comment-time">
            <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(comment.created_at) %>前
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
